<?xml version='1.0' encoding='utf-8'?>
<plugin id="cord-plug-iosparh-mockup" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>VInterface</name>
    <js-module name="VInterface" src="www/VInterface.js">
        <clobbers target="VInterface" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VInterface">
                <param name="ios-package" value="VInterface" />
            </feature>
        </config-file>
        <header-file src="src/ios/VInterface.h" />
        <source-file src="src/ios/VInterface.m" />
    </platform>
</plugin>
